<%= erb :'partials/header' %>
<div id="career-container">
  <h3>Top 25 careers</h3>
  <p>Here are a list of the top careers</p>
  <div class="career-content">
        <div class="careers">
         <div>
             <img src="/images/job-1.png" alt="">
         </div>
         <div>
            <h4>Web Developer</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium erat a ultrices vehicula. Integer eget laoreet quam, 
              a elementum felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tellus arcu, porttitor eleifend 
              finibus eget, bibendum ac risus. Duis quis dictum leo, id porttitor tellus  
            </p>
         </div>
        </div>


        <div class="careers">
         <div>
             <img src="/images/job-2.png" alt="">
         </div>
         <div>
            <h4>Web Developer</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium erat a ultrices vehicula. Integer eget laoreet quam, 
              a elementum felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tellus arcu, porttitor eleifend 
              finibus eget, bibendum ac risus. Duis quis dictum leo, id porttitor tellus  
            </p>   
            </p>
         </div>
        </div>

        <div class="careers">
         <div>
             <img src="/images/job-3.png" alt="">
         </div>
         <div>
            <h4>Web Developer</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium erat a ultrices vehicula. Integer eget laoreet quam, 
              a elementum felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tellus arcu, porttitor eleifend 
              finibus eget, bibendum ac risus. Duis quis dictum leo, id porttitor tellus  
            </p>  
            </p>
         </div>
        </div>


        <div class="careers">
         <div>
             <img src="/images/job-4.png" alt="">
         </div>
         <div>
            <h4>Web Developer</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium erat a ultrices vehicula. Integer eget laoreet quam, 
              a elementum felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tellus arcu, porttitor eleifend 
              finibus eget, bibendum ac risus. Duis quis dictum leo, id porttitor tellus  
            </p>  
            </p>
         </div>
        </div>


        <div class="careers">
         <div>
             <img src="/images/job-1.png" alt="">
         </div>
         <div>
            <h4>Web Developer</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium erat a ultrices vehicula. Integer eget laoreet quam, 
              a elementum felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tellus arcu, porttitor eleifend 
              finibus eget, bibendum ac risus. Duis quis dictum leo, id porttitor tellus  
            </p>  
            </p>
         </div>
        </div>
  </div>
</div>
