<header>
  <h1>Taskr</h1>
  <nav>
     <ul>
       <li><a href="/jobs">Jobs<a></li>
        <li><a href="/top-career">Top careers<a></li>
         <li><a href="/create-account">Create an account<a></li>
     </ul>
  </nav>
</header>