<header>
  <h1><a href="/">Taskr</a></h1>
  <nav>
     <ul>
       <li><a href="/jobs">Jobs<a></li>
        <li><a href="/top-career">Top careers<a></li>
         <li><a href="/create-account">Create an account<a></li>
     </ul>
  </nav>
  <div id="masthead">
    <h3>Get job in your area of expertise</h3>
    <input type="text" name="search" placeholder="Search">
    <p>Look for job opportunities now</p>
  </div>
</header>
<div id="services">
   <h3>Get prepared with in demand job skills</h3>
   <div id="flex-container">
     <div>
      <img src="/images/thumbnail-1.png" alt="thumbnail of woman working">
        <h4>Don’t get left behind </h4>
        <p>          
          we can help you get the 
          training necessary to land
          a job in the top 25 hottest
          careers
        </p>
     </div>  
      <div>
        <img src="/images/thumbnail-2.png" alt="thumbnail of a construction worker">
        <h4>See how you stack up</h4>
        <p>
          our job assessment tool can 
          help you find if you are the 
          perfect fit for the companies 
          needs before you even apply, 
          saving you time. 
        </p>
     </div>  
      <div>
        <img src="/images/thumbnail-3.png" alt="thumbnail of man using a computer">
        <h4>Learn about in demand jobs</h4>
        <p>
          Read about our well researched
          top 25 hottest jobs to see if you
          qualify. 
        </p>
     </div>  
   </div>
</div>
<footer>
  <div id="flex-footer-container">
     <div>
        <h3>Get the app</h3>   
        <button>DOWNLOAD FOR iOS</button>  
        <button>DOWNLOAD FOR ANDROID</button>   
     </div>
     <div>
        <img src="/images/footer-image.png" alt="" width="512" height="512">
     </div>
  </div>
  <p>All rights reserved</p>
</footer>