<!DOCTYPE html>
<html>
    <head>
        <title>Taskr</title>
        <link rel="stylesheet" href="https://use.typekit.net/bel7koy.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
  <body>
    <%= yield %>
    <script src="/js/main.js"></script>
  </body>
</html>